@charset "utf-8";
/* CSS Document */


a{
    text-decoration: none;
}

.slider{
    margin: 20px;
    width: 9%;
    background-color: #3C4B94;
    border-radius: 25px;
    overflow: hidden;
}

.image{
    position: relative;
}

.image img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
}

.product-name{
    display: flex;
    flex-direction: column;
}



span{
    color: rgb(228, 225, 225);
}

.price{
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}


.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
}





.Button{
    visibility: hidden;
}

.image:hover .Button{
    visibility: visible;
    animation: animation 1s;
}








.container{
    display: flex;
    justify-content: left;
    height: 530px;
    width: 4000px;
    margin: 10px auto;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.arrow{
    position: absolute;
    top: 200px;
    right: 0px;
    color: #fff;
    font-size: 125px;
    cursor: pointer;
}

















